<!-- <div class="col-lg-6 offset-sm-3 border border-info  rounded" id="createform">
    <h3 class="text-center">UPDATE EMPLOYEE</h3>

    <form   (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="first-name">Name: </label>
            <input class="form-control" id="first-name" type="text"  [(ngModel)] = "employee.employeeName" name="employeeName" placeholder="Your Name">
        </div>
        <div>
            <label for="last-name">Email: </label>
            <input class="form-control" id="last-name" type="text"  [(ngModel)] = "employee.employeeEmail" name="employeeEmail" placeholder="Your email">
        </div>
        <div>
            <button class="btn btn-success offset-sm-5 mt-3" type="submit">Submit</button>
        </div>
    </form>
</div> -->



<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Update Employee </h3>
            <hr />
            <div class="card-body">
                <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label> First Name</label>
                        <input type="text" class="form-control" id="employeeName" formControlName = "employeeName"
                            name="employeeName">
                    </div>

                    <div class="form-group">
                        <label> Last Name</label>
                        <input type="text" class="form-control" id="employeeEmail" formControlName="employeeEmail"
                            name="employeeEmail">
                    </div>

                    
                    <br />
                    <button class="btn btn-success" type="submit">Submit</button>

                </form>
            </div>
        </div>
    </div>
</div>
